DATASOURCE_USERNAME=username
DATASOURCE_PASSWORD=myStrongPass123
DATASOURCE_HOST=localhost
DATASOURCE_PORT=5432
DATASOURCE_DATABASE=myDatabase

DATASOURCE_URL=postgresql://${DATASOURCE_USERNAME}:${DATASOURCE_PASSWORD}@${DATASOURCE_HOST}:${DATASOURCE_PORT}/${DATASOURCE_DATABASE}